@charset "utf-8";
@import './variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

// Update Bulma's global variables
$family-sans-serif: 'Lato', sans-serif;
$grey: $grey-primary;
$grey-dark: $black-primary;
$grey-light: $grey-secondary;
$grey-lighter: $grey-tertiary;
$white: $white-lighter;
$white-ter: $white-dark;
$orange: $red-primary;
$red: $red-secondary;
$yellow: $yellow-primary;

@import '../../../node_modules/bulma/bulma.sass';
