// Colors
$yellow-primary: #eca539;
$red-primary: #f22539;
$red-secondary: #c00e20;
$black-primary: #353535;
$grey-primary: #5e5e5e;
$grey-secondary: #bfbfbf;
$grey-tertiary: #e8e8e8;
$white-dark: #f5f5f5;
$white-lighter: #f9f9f9;
