<div class="pokemon-list">
  <header class="pr-4 pl-4 pb-4 pokemon-list-search">
    <p class="control has-icons-left">
      <input
        type="text"
        class="input is-normal mt-4"
        placeholder="Search"
        v-model="serachPokeword"
      >
      <span class="icon is-small is-left pt-5">
        <i class="fas fa-search"></i>
      </span>
    </p>
  </header>
  <no-data-in-pokelist v-if="pokemonsToShow.length === 0" />
  <poke-list v-else-if="!favoriteView" :list="pokemonsToShow" @openPokeModal="openPokeModal" @showFavorites="showFavorites" @showAll="showAll" />
  <poke-list v-else :list="favoritesToShow" @openPokeModal="openPokeModal" @showFavorites="showFavorites" @showAll="showAll" />
  <poke-card :openModal="openModal" :pokecardName="pokecardName" @closeModal="closeModal" />
  <div class="pokemon-list-loading">
    <b-loading :is-full-page="true" v-model="loading" :can-cancel="false">
      <figure>
        <img src="./../../assets/img/Loader.png" alt="Pokebola loading" class="pokemon-list-loading__image">
      </figure>
    </b-loading>
  </div>
</div>