<div class="poke-card">
  <b-modal
    v-model="openModal"
    has-modal-card
    trap-focus
    :destroy-on-hide="false"
    aria-role="dialog"
    aria-label="Modal para ver información de un pokemon"
    aria-modal
    :on-cancel="onCancel"
  >
    <div class="card">
      <div class="card-image">
        <button
          type="button"
          class="delete"
          @click="onCancel()"
        />
        <figure class="image is-flex is-justify-content-center is-align-content-center is-align-items-center">
            <img src="./../../assets/img/poke-image.png" alt="Image" class="card-image__image">
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <div class="content__text--underline mb-4">
            <p><strong>Name: </strong> {{ pokemonData.name }} </p>
          </div>
          <div class="content__text--underline mb-4">
            <p><strong>Weigth: </strong>{{ pokemonData.weight }}</p>
          </div>
          <div class="content__text--underline mb-4">
            <p><strong>Height: </strong>{{ pokemonData.height }}</p>
          </div>
          <div class="content__text--underline mb-4">
            <p><strong>Types: </strong>{{ pokemonData.types | arrayToString }}</p>
          </div>
        </div>
      </div>
      <footer class="card-footer p-4">
        <button class="button is-rounded button-red">Share to my friends</button>
      </footer>
    </div>
  </b-modal>
</div>