<div class="home">
  <header class="is-flex is-justify-content-center">
    <figure class="figure home-figure">
      <img alt="Pichachu" src="../../assets/img/picachu.png" class="home-figure__picachu"/>
      <img alt="Picachu elipse" src="../../assets/img/ellipse.png" class="home-figure__ellipse"/>
    </figure>
  </header>
  <section class="section is-flex is-flex-direction-column is-align-items-center">
    <h1 class="is-grey-dark">Welcome to Pokédex</h1>
    <p class="m-6 has-text-centered">The digital encyclopedia created by Professor Oak is an invaluable tool to Trainers in the Pokémon world.</p>
    <button class="button is-rounded button-red">Get started</button>
  </section>
</div>