<div class="pokelist">
  <section class="section pokelist-list">
    <ul v-for="item in list">
      <li :key="item.name">
        <div class="box pokelist-list__item is-flex is-justify-content-space-between is-align-items-center mb-1">
          <div @click="$emit('openPokeModal', item.name)" class="pokelist-list__item-name">
            {{ item.name }}
          </div>
          <div
            v-if="isFavorite(item.name)"
            class="pokelist-start-container is-flex is-justify-content-center is-align-content-center is-align-items-center"
            @click="removeFavorite"
          >
            <span class="icon is-small is-left">
              <i class="fas fa-star fas--active"></i>
            </span>
          </div>
          <div
            v-else
            class="pokelist-start-container is-flex is-justify-content-center is-align-content-center is-align-items-center"
            @click="addFavorite(item)"
          >
            <span class="icon is-small is-left">
              <i class="fas fa-star fas--inactive"></i>
            </span>
          </div>
        </div>
      </li>
    </ul>
  </section>
  <footer class="is-flex is-justify-content-center mt-4">
    <button class="button is-rounded button-red mr-1" @click="$emit('showAll')">
      <span class="icon is-small mr-2">
        <i class="fas fa-list"></i>
      </span>
      All
    </button>
    <button class="button is-rounded button-grey ml-1" @click="$emit('showFavorites')">
      <span class="icon is-small mr-2">
        <i class="fas fa-star"></i>
      </span>
      Favorites
    </button>
  </footer>
</div>