@import './../../assets/scss/variables.scss';

.pokelist {
  &-list {
    height: 80vh;
    margin-top: 0;
    padding-top: 1rem;
    overflow: auto;
    cursor: pointer;
    &__item {
      &:hover {
        background-color: whitesmoke;
      }
      &-name {
        margin: 0;
        height: 100%;
        width: 80%;
        padding: 0;
      }
    }
  }
  &-start-container {
    background-color: $white-dark;
    padding: 3px;
    margin: 0;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    z-index: 3;
    &:hover {
      background-color: $grey-tertiary;
    }
    .fas--inactive {
      color: $grey-secondary;
    }
    .fas--active {
      color: $yellow-primary;
    }
  }
}
